<div class="sidebar">
    <div class="container sidebar-sticky ">
        <div class="sidebar-about center">
            <h1>
                <a href="/">
                    {..}
                </a>
            </h1>
            <div class="lead">
                <a href="/public/docs/resume.pdf" style="display: inline-block">
                    <strong>Just.A.Coder</strong>
                    <div class="speech-bubble">Hi!</div>      
                    <div class="speech-bubble-reverse">Tap to know more!</div>
                </a>
                                
            </div>
        </div>

        <nav class="sidebar-nav">
            

            {% comment %}
            The code below dynamically generates a sidebar nav of pages with
            `layout: page` in the front-matter. See readme for usage.
            {% endcomment %}

            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
            {% if node.title != null %}
            {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{
                node.title }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
            <br>
            <div class="sidebar-nav-item smaller-text">[ Posts ]</div>
            {% for post in site.posts %}
            <div>
                <a class="post-listing" href="{{ post.url }}">
                    - {{ post.title }}
                </a>
            </div>
            {% endfor %}
        </nav>

        <div class="center siderbar-nav side-footer">
            <a href="https://github.com/avin45h" class="badges">
                <img src="/public/images/github.svg" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/justacoder/" class="badges">
                <img src="/public/images/linkedin.svg" alt="linkedin">
            </a>
            <a href="https://twitter.com/gigakahn" class="badges">
                <img src="/public/images/twitter.svg" alt="twitter">
            </a>
        </div>
    </div>
</div>
